.start-button {
  background-color: #735446;
  color: white;
  width: 80%;
  height: 80px;
  border-color: black;
  border-radius: 20px;
  font-size: 32px;
  font-family: 'dunmgeunmo', Courier, monospace;
}

.answer-button {
  background-color: white;
  color: black;
  width: 80%;
  height: 75px;
  border-color: black;
  border-radius: 20px;
  font-size: 20px;
}

.header {
  height: 5vh;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: #735446;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  width: 100%;
}

/* 가운데 정렬을 위한 제목 스타일 */
.title {
  font-size: 1rem; /* 모바일에서 크기 조정 */
  font-weight: 600;
  flex-grow: 1;
  text-align: center;
}

.bold {
  font-weight: 700;
}

/* 우측 아이콘 컨테이너 */
.icon-container {
  display: flex;
  align-items: center;
  gap: 10px; /* 아이콘 간격 조정 */
}

/* Test 페이지 스타일 */
.test-page {
  height: calc(100vh - 5vh); /* 뷰포트 높이의 100% */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.question-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5%;
}

.question-text {
  color: white;
  font-size: 1.7em;
  line-height: 1.5;
  white-space: pre-line;
  word-break: keep-all;
  text-align: center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5%;
}

.question-image {
  width: 100%;
  border-radius: 10px;
}
